<h1><%= @city.name %></h1>

<hr>
<%= link_to "Редактировать", edit_city_path(@city), :class => 'btn btn-warning' %>
<%= link_to "Удалить", city_path(@city), method: :delete, data: { confirm: "Хотите удалить город?" }, :class => 'btn btn-danger' %>

<h1>Турбазы<%= link_to "+", new_holiday_house_path, :class => 'btn btn-outline-primary btn-sm' %></h1>

<% @hhs.each do |hh| %>
  <div class="alert alert-light">
    <h3><%= link_to hh.name, holiday_house_path(hh), :class => 'form-control' %></h3>
  </div>
<% end %>